
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300,500);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// VARIABLES
//

// Colors
$blue: #4183C4;
$lighterBlue: #D2E4F9;
$lightestBlue: #E9F2FC;
$darkerBlue: #3269A0;
$tan: #F8EEC7;
//http://www.colourlovers.com/palette/2848228/Shifting_Beach

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #343838;
$lightGray: #eee;
$white: #fff;


// Font stacks
$roboto: Roboto, Helvetica Neue, Arial, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$montserrat: Montserrat, Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}
