<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
       <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/animate.min.css">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body data-spy="scroll" data-target=".nav">
    <div class="nav" data-spy="affix" data-offset-top="60">
      <nav>
        <a href="#work">Work</a>
        <a href="#about">About</a>
        <a href="#" class="site-avatar animated rotateIn"></a>
        <a href="#resume">Resume</a>
        <a href="#contact">Contact</a>
      </nav>
    </div>
    <main id="sections" role="main">
      <section id="section-cover" class="feature">
          <div class="title animated fadeIn">
            <h1>{{ site.name }}</h1>
            <h2>{{ site.description }}</h2>
          </div>  
      </section>
      
      
      <section id="work">
          <h2>Work</h2>
          <article>
            <h3>MyFonts</h3>
            <p></p>
          </article>
          <article>
            <h3>MASS EDMC</h3>
            <p></p>
          </article>
          <article>
            <h3>LiveBlog</h3>
            <p></p>
          </article>
          <article>
            <h3>CSS3 Loading Animation</h3>
            <p></p>
          </article>
      </section>
      
      <section id="resume">
        <h3>Resume</h3>
        <p>Link to resume</p>
      </section>
      
      <section id="about">
        <h3>About myself</h3>
        <p>I'm a front end developer </p>
      </section>
      
      <section id="contact">
        <h3>Get in contact </h3>
        <p><a href="mailto:pk9190@gmail.com">pk9190@gmail.com</a></p>
      </section>
      
      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </main>
    
    
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript">
      var $j = jQuery.noConflict();


    </script>
    {% include analytics.html %}
  </body>
</html>
